<!-- <div class="practise"> 
    <img width="100%" src="../../assets/images/con2.png">
</div>
 -->

<div style="background: gray"> 
 

 <div style="width: 80%;margin: auto;display: flex;flex-wrap: wrap;"> 
    <div style="background: white;padding: 2em 2em;flex: 1 1 31%;margin: 10px 10px;border-radius: 5px;"> 
        <img src="../../assets/svg/livetracking.svg">

        <div style="display:flex;flex-direction:column"> 
            <h3>Live Tracking</h3>
            <p>Always know where your driver or delivery is!</p>
        </div>
    </div>
    <div style="background: white;padding: 2em 2em;flex: 1 1 31%;margin: 10px 10px;border-radius: 5px;"> 
        <img src="../../assets/svg/livetracking.svg">

        <div style="display:flex;flex-direction:column"> 
            <h3>Live Tracking</h3>
            <p>From groceries and food to medicines and apparel, get anything delivered by Etom.</p>
        </div>
    </div>
    <div style="background: white;padding: 2em 2em;flex: 1 1 31%;margin: 10px 10px;border-radius: 5px;"> 
        <img src="../../assets/svg/livetracking.svg">

        <div style="display:flex;flex-direction:column"> 
            <h3>Live Tracking</h3>
            <p>Get your own trusted personal cab with Etom!</p>
        </div>
    </div>
    <div style="background: white;padding: 2em 2em;flex: 1 1 31%;margin: 10px 10px;border-radius: 5px;"> 
        <img src="../../assets/svg/livetracking.svg">

        <div style="display:flex;flex-direction:column"> 
            <h3>Live Tracking</h3>
            <p>Book different vehicles to transport your things.</p>
        </div>
    </div>
    <div style="background: white;padding: 2em 2em;flex: 1 1 31%;margin: 10px 10px;border-radius: 5px;"> 
        <img src="../../assets/svg/livetracking.svg">

        <div style="display:flex;flex-direction:column"> 
            <h3>Live Tracking</h3>
            <p>Share a cab with your friends or family, pick them on the way!</p>
        </div>
    </div>
    <div style="background: white;padding: 2em 2em;flex: 1 1 31%;margin: 10px 10px;border-radius: 5px;"> 
        <img src="../../assets/svg/livetracking.svg">

        <div style="display:flex;flex-direction:column"> 
            <h3>Live Tracking</h3>
            <p>Whatever it is that you need Etom for, it’s always going to be the safest option!</p>
        </div>
    </div>
 </div>

</div>


<re-captcha
    (resolved)="resolved()"
    siteKey="6LdoSNUbAAAAAGI1-4QhS_qwNmPxzfVk2LaCN4Ko">
</re-captcha>`