.practise{
    height: 60vh;
    display: flex;
    justify-content: center;
    width: 535px;
    margin: 2em auto;
    position: relative;
  }

  
.practise::after{
    content:'';
    position: absolute;
    background: url('../../assets/images/test.jpeg') no-repeat fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
}

 .practise:hover::after{


    animation: pappu-fade-in 2s;
    animation-delay: 1ms;
    animation-iteration-count: infinite;
    
  } 

  @keyframes pappu-fade-in {
      from{opacity: 0}
      to{opacity:1}
  }