<div class="header dpflex-just-cent">
    <img class="wd-heght-inh" src="../../assets/images/logo.png">
</div>

<div class="yellow-border" >
</div>

<div class="dpflex-just-cent mg-btt-23">
    <h1 class="heading ft-fam clr-blue" >DONATE TO WHERE MOST NEEDED </h1>
</div>

<div class="dpflex-just-cent mg-btt-23">
    <img class="wd-heght-inh" src="../../assets/images/border.svg">
</div>

<div class="dpflex-just-cent ">
    <p class="ft-fam sub-heading ft-wght ">Help kids and families in greatest need lift themselves out of poverty. </p>
</div>

<div style="display: flex;width:60%;margin:auto">
    <div class="bg-grey" style="flex:1 1 30%">
        <img style="width:100%" src="../../assets/images/image1.png">
        <h4 style="margin: 0;margin-top: -10px;" class="clr-blue dpflex-just-cent">Zakat</h4>
        <div style="margin-bottom: 15px;" class="yellow-border" ></div>
        <p style="margin: 0;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 12px;">Zakat is one of the five pillars of Islam. This means that as a Muslim (one who believes in and observes these five pillars) it is obligatory to give zakat to the poor and needy, and this includes orphans</p>
        <div class="dpflex-just-cent "> 
                <button  class="bg-yellow button"> Donate Now</button>

        </div>
    </div>

    <div style="flex:1 1 30%;margin-left: 45px">
        <div>
            <img src="../../assets/images/image2.png">
        </div>
    </div>
</div>