<div class="header dpflex-just-cent">
    <img class="wd-heght-inh" src="../../assets/images/logo.png">
</div>

<div class="yellow-border" >
</div>

<div class="dpflex-just-cent mg-btt-23">
    <h1 class="heading ft-fam clr-blue" >DONATE TO WHERE MOST NEEDED </h1>
</div>

<div class="dpflex-just-cent mg-btt-23">
    <img class="wd-heght-inh" src="../../assets/images/border.svg">
</div>

<div class="dpflex-just-cent ">
    <p class="ft-fam sub-heading ft-wght ">Help kids and families in greatest need lift themselves out of poverty. </p>
</div>

<div style="display: flex;width:60%;margin:auto">
    <div class="bg-grey" style="flex:1 1 30%">
        <img style="width:100%" src="../../assets/images/image1.png">
        <h4 style="margin: 0;margin-top: -10px;" class="clr-blue dpflex-just-cent">Zakat</h4>
        <div style="margin-bottom: 15px;" class="yellow-border" ></div>
        <p style="margin: 0;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 16px;">Zakat is one of the five pillars of Islam. This means that as a Muslim (one who believes in and observes these five pillars) it is obligatory to give zakat to the poor and needy, and this includes orphans</p>
        <div class="dpflex-just-cent "> 
                <button  class="bg-yellow button"> Donate Now</button>

        </div>
    </div>

    <div style="flex:1 1 30%;margin-left: 45px">
        <div  style="padding: 19px 10px;background: #F5F5F5;margin-bottom: 21px">
            <div style="display: flex"> 
                <div style="margin-right: 12px;"> 
                    <img src="../../assets/images/image2.png">
                </div>
                <div >
                    <h6 style="margin: 2px;" class="ft-fam clr-blue fnt-16">Sadaqah</h6>
                    <div style="margin: 6.5px 0px;" class="yellow-border"></div>
                    <p class="ft-fam" style="margin: 0;">Sadaqah benefits the whole community and ensures that the most vulnerable, orphans, widows, the sick and needy, have an equal standing in society.</p>
                    <button  class="bg-yellow button"> Donate Now</button>
                </div>
            </div>
        </div>
        <div style="padding: 19px 10px;background: #F5F5F5;margin-bottom: 21px">
            <div style="display: flex"> 
                <div style="margin-right: 12px;"> 
                    <img src="../../assets/images/fruits.png">
                </div>
                <div >
                    <h6 style="margin: 2px;" class="ft-fam clr-blue fnt-16">Meals Sponsorship</h6>
                    <div style="margin: 6.5px 0px;" class="yellow-border"></div>
                    <p class="ft-fam" style="margin: 0;">At Saba Homes we strive to feed our boys and girls with the very best, how a child eats today will have a striking impact on their health throughout adulthood.</p>
                    <button  class="bg-yellow button"> Donate Now</button>
                </div>
            </div>
        </div>
        <div style="padding: 19px 10px;background: #F5F5F5;">
            <div style="display: flex"> 
                <div style="margin-right: 12px;"> 
                    <img src="../../assets/images/con10.png">
                </div>
                <div >
                    <h6 style="margin: 2px;" class="ft-fam clr-blue fnt-16">Community Iftar Sponsorship</h6>
                    <div style="margin: 6.5px 0px;" class="yellow-border"></div>
                    <p class="ft-fam" style="margin: 0;">During the blessed month of Ramadan, more than 600 needy individuals and families break their fast at a community Iftar hosted by Saba Homes.</p>
                    <button  class="bg-yellow button"> Donate Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: flex;width:60%;margin:auto;flex-wrap: wrap;margin-top: 51px">
    <div style="flex: 0 0 25%;padding-right: 12.5px">
        <img style="margin-bottom:8px ;width: 100%" src="../../assets/images/con1.png">
        <p style="margin-bottom:8px;font-size: 15px">Orphans Iftar Sponsorship</p>
        <div class="yellow-border"> </div>
        <p style="font-size: 12px">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <button  class="bg-yellow button"> Donate Now</button>
    </div>
    <div style="flex: 0 0 25%;padding:0px 12.5px">
        <img style="margin-bottom:8px ;width: 100%" src="../../assets/images/con2.png">
        <p style="margin-bottom:8px;font-size: 15px">Orphans Iftar Sponsorship</p>
        <div class="yellow-border"> </div>
        <p style="font-size: 12px">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <button  class="bg-yellow button"> Donate Now</button>
    </div>
    <div style="flex: 0 0 25%;padding:0px 12.5px">
        <img style="margin-bottom:8px ;width: 100%" src="../../assets/images/con3.png">
        <p style="margin-bottom:8px;font-size: 15px">Orphans Iftar Sponsorship</p>
        <div class="yellow-border"> </div>
        <p style="font-size: 12px">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <button  class="bg-yellow button"> Donate Now</button>
    </div>
    <div style="flex: 0 0 25%;padding-left:12.5px">
        <img style="margin-bottom:8px ;width: 100%" src="../../assets/images/con4.png">
        <p style="margin-bottom:8px;font-size: 15px">Orphans Iftar Sponsorship</p>
        <div class="yellow-border"> </div>
        <p style="font-size: 12px">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <button  class="bg-yellow button"> Donate Now</button>
    </div>
    <div style="flex: 0 0 25%;padding-right: 12.5px">
        <img style="margin-bottom:8px ;width: 100%" src="../../assets/images/con1.png">
        <p style="margin-bottom:8px;font-size: 15px">Orphans Iftar Sponsorship</p>
        <div class="yellow-border"> </div>
        <p style="font-size: 12px">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <button  class="bg-yellow button"> Donate Now</button>
    </div>
    <div style="flex: 0 0 25%;padding:0px 12.5px">
        <img style="margin-bottom:8px ;width: 100%" src="../../assets/images/con2.png">
        <p style="margin-bottom:8px;font-size: 15px">Orphans Iftar Sponsorship</p>
        <div class="yellow-border"> </div>
        <p style="font-size: 12px">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <button  class="bg-yellow button"> Donate Now</button>
    </div>
    <div style="flex: 0 0 25%;padding:0px 12.5px">
        <img style="margin-bottom:8px ;width: 100%" src="../../assets/images/con3.png">
        <p style="margin-bottom:8px;font-size: 15px">Orphans Iftar Sponsorship</p>
        <div class="yellow-border"> </div>
        <p style="font-size: 12px">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <button  class="bg-yellow button"> Donate Now</button>
    </div>
    <div style="flex: 0 0 25%;padding-left:12.5px">
        <img style="margin-bottom:8px ;width: 100%" src="../../assets/images/con4.png">
        <p style="margin-bottom:8px;font-size: 15px">Orphans Iftar Sponsorship</p>
        <div class="yellow-border"> </div>
        <p style="font-size: 12px">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <button  class="bg-yellow button"> Donate Now</button>
    </div>
    <div style="flex: 0 0 25%;padding-right: 12.5px">
        <img style="margin-bottom:8px ;width: 100%" src="../../assets/images/con1.png">
        <p style="margin-bottom:8px;font-size: 15px">Orphans Iftar Sponsorship</p>
        <div class="yellow-border"> </div>
        <p style="font-size: 12px">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <button  class="bg-yellow button"> Donate Now</button>
    </div>
</div>

<input type="file" capture="user" accept="image/*">
