<div class="header dpflex-just-cent">
    <img class="wd-heght-inh" src="../../assets/images/logo.png">
</div>

<div class="yellow-border" >
</div>

<div class="dpflex-just-cent mg-btt-23">
    <h1 class="heading ft-fam clr-blue" >DONATE TO WHERE MOST NEEDED </h1>
</div>

<div class="dpflex-just-cent mg-btt-23">
    <img class="wd-heght-inh" src="../../assets/images/border.svg">
</div>

<div class="dpflex-just-cent ">
    <p class="ft-fam sub-heading ft-wght ">Help kids and families in greatest need lift themselves out of poverty. </p>
</div>

<div class="containter mg-btt-23"  style="display: flex;width:60%;margin:auto;margin-bottom: 51px">
    <div class="bg-grey" style="flex:1 1 30%">
        <img style="width:100%" src="../../assets/images/image1.png">
        <h4 style="margin: 0;margin-top: -10px;" class="clr-blue dpflex-just-cent">Zakat</h4>
        <div style="margin-bottom: 15px;" class="yellow-border" ></div>
        <p style="margin: 0;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 16px;">Zakat is one of the five pillars of Islam. This means that as a Muslim (one who believes in and observes these five pillars) it is obligatory to give zakat to the poor and needy, and this includes orphans</p>
        <div class="dpflex-just-cent "> 
                <button  class="bg-yellow button"> Donate Now</button>

        </div>
    </div>

    <div style="flex:1 1 30%;margin-left: 45px">
        <div  style="padding: 19px 10px;background: #F5F5F5;margin-bottom: 21px">
            <div style="display: flex"> 
                <div style="margin-right: 12px;"> 
                    <img src="../../assets/images/image2.png">
                </div>
                <div >
                    <h6 style="margin: 2px;" class="ft-fam clr-blue fnt-16">Sadaqah</h6>
                    <div style="margin: 6.5px 0px;" class="yellow-border"></div>
                    <p class="ft-fam" style="margin: 0;">Sadaqah benefits the whole community and ensures that the most vulnerable, orphans, widows, the sick and needy, have an equal standing in society.</p>
                    <button  class="bg-yellow button"> Donate Now</button>
                </div>
            </div>
        </div>
        <div style="padding: 19px 10px;background: #F5F5F5;margin-bottom: 21px">
            <div style="display: flex"> 
                <div style="margin-right: 12px;"> 
                    <img src="../../assets/images/fruits.png">
                </div>
                <div >
                    <h6 style="margin: 2px;" class="ft-fam clr-blue fnt-16">Meals Sponsorship</h6>
                    <div style="margin: 6.5px 0px;" class="yellow-border"></div>
                    <p class="ft-fam" style="margin: 0;">At Saba Homes we strive to feed our boys and girls with the very best, how a child eats today will have a striking impact on their health throughout adulthood.</p>
                    <button  class="bg-yellow button"> Donate Now</button>
                </div>
            </div>
        </div>
        <div style="padding: 19px 10px;background: #F5F5F5;">
            <div style="display: flex"> 
                <div style="margin-right: 12px;"> 
                    <img src="../../assets/images/con10.png">
                </div>
                <div >
                    <h6 style="margin: 2px;" class="ft-fam clr-blue fnt-16">Community Iftar Sponsorship</h6>
                    <div style="margin: 6.5px 0px;" class="yellow-border"></div>
                    <p class="ft-fam" style="margin: 0;">During the blessed month of Ramadan, more than 600 needy individuals and families break their fast at a community Iftar hosted by Saba Homes.</p>
                    <button  class="bg-yellow button"> Donate Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="containter mg-btt-23 flex-wrap" style="display: flex;width:60%;margin:auto;flex-wrap: wrap;margin-bottom: 70px">
    <div class="flex-25 pd-rg-12-5 pd-bt-25-5">
        <img class="mg-btt-8 width" src="../../assets/images/con1.png">
        <p class="clr-blue fnt-15 mg-btt-7">Orphans Iftar Sponsorship</p>
        <div class="yellow-border mg-btt-8"> </div>
        <p class="fnt-12">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <div>
            <button  class="bg-yellow button"> Donate Now</button>
        </div>
    </div>
    <div class="flex-25 pd-lf-12-5 pd-rg-12-5  pd-bt-25-5">
        <img class="mg-btt-8 width" src="../../assets/images/con2.png">
        <p class="clr-blue fnt-15 mg-btt-7">Orphans Iftar Sponsorship</p>
        <div class="yellow-border mg-btt-8"> </div>
        <p class="fnt-12">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <div>
            <button  class="bg-yellow button"> Donate Now</button>
        </div>
    </div>
    <div class="flex-25 pd-lf-12-5 pd-rg-12-5  pd-bt-25-5">
        <img class="mg-btt-8 width" src="../../assets/images/con3.png">
        <p class="clr-blue fnt-15 mg-btt-7">Orphans Iftar Sponsorship</p>
        <div class="yellow-border mg-btt-8"> </div>
        <p class="fnt-12">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <div>
            <button  class="bg-yellow button"> Donate Now</button>
        </div>
    </div>
    <div class="flex-25 pd-bt-25-5 pd-lf-12-5">
        <img class="mg-btt-8 width" src="../../assets/images/con4.png">
        <p class="clr-blue fnt-15 mg-btt-7">Orphans Iftar Sponsorship</p>
        <div class="yellow-border mg-btt-8"> </div>
        <p class="fnt-12">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <div>
            <button  class="bg-yellow button"> Donate Now</button>
        </div>
    </div>
    <div class="flex-25 pd-rg-12-5 pd-tp-25-5 pd-bt-25-5">
        <img class="mg-btt-8 width" src="../../assets/images/con1.png">
        <p class="clr-blue fnt-15 mg-btt-7">Orphans Iftar Sponsorship</p>
        <div class="yellow-border mg-btt-8"> </div>
        <p class="fnt-12">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <div>
            <button  class="bg-yellow button"> Donate Now</button>
        </div>
    </div>
    <div class="flex-25 pd-lf-12-5 pd-rg-12-5  pd-tp-25-5">
        <img class="mg-btt-8 width" src="../../assets/images/con2.png">
        <p class="clr-blue fnt-15 mg-btt-7">Orphans Iftar Sponsorship</p>
        <div class="yellow-border mg-btt-8"> </div>
        <p class="fnt-12">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <div>
            <button  class="bg-yellow button"> Donate Now</button>
        </div>
    </div>
    <div class="flex-25 pd-lf-12-5 pd-rg-12-5  pd-tp-25-5">
        <img class="mg-btt-8 width" src="../../assets/images/con3.png">
        <p class="clr-blue fnt-15 mg-btt-7">Orphans Iftar Sponsorship</p>
        <div class="yellow-border mg-btt-8"> </div>
        <p class="fnt-12">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <div>
            <button  class="bg-yellow button"> Donate Now</button>
        </div>
    </div>
    <div class="flex-25 pd-lf-12-5 pd-tp-25-5">
        <img class="mg-btt-8 width" src="../../assets/images/con4.png">
        <p class="clr-blue fnt-15 mg-btt-7">Orphans Iftar Sponsorship</p>
        <div class="yellow-border mg-btt-8"> </div>
        <p class="fnt-12">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <div>
            <button  class="bg-yellow button"> Donate Now</button>
        </div>
    </div>
    <div class="flex-25 pd-rg-12-5 pd-tp-25-5">
        <img class="mg-btt-8 width" src="../../assets/images/con1.png">
        <p class="clr-blue fnt-15 mg-btt-7">Orphans Iftar Sponsorship</p>
        <div class="yellow-border mg-btt-8"> </div>
        <p class="fnt-12">With the help of your generous Iftar sponsorships, Saba Homes is able to provides iftar throughout Ramadan, serving both orphan girls & boys every night of the blessed month.</p>
        <div>
            <button  class="bg-yellow button"> Donate Now</button>
        </div>
    </div>
</div>


<div class="dpflex-just-cent mg-btt-15">
    <img class="wd-heght-inh" src="../../assets/images/line.svg">
</div>

<div class="dpflex-just-cent mg-btt-77">
    <h1 class="fnt-30 ft-fam clr-blue" >MORE WAYS TO DONATE</h1>
</div>

<div class="mg-btt-51" style="display: flex;width:60%;margin:auto;">
    <div class="flex-30 pd-rg-23-5"> 
            <div class="innr-container">
                    <img style="position: relative;top: -30px;" src="../../assets/images/bottom1.png">
                    <p class="mg-btt-19 fnt-17 clr-blue">DONATE BY MAIL</p>
                    <p>Send us a check</p>
                    <p>Make it payable to “Saba Homes” and mail it to:</p>
                    <p>Saba Homes </p>
                    <p style="margin: auto;padding-bottom: 30px;width: 60%">950 S. Coast Dr. Suite #202 Costa Mesa, CA 92626</p>
            </div>
    </div>
    
    <div class="flex-30 pd-rg-23-5 pd-lf-23-5"> 
            <div class="innr-container">
                    <img style="position: relative;top: -30px;" src="../../assets/images/bottom2.png">
                    <p class="mg-btt-15 fnt-17 clr-blue">OTHER WAYS TO DONATE</p>
                    <p style="font-size: 15px;margin:0" class="mg-btt-15">We also accept Donations through PayPal, Venmo & FeelingBlessed</p>
                    <div style="display: flex;flex-direction:column;justify-content:center;align-items: center">
                        <button class="mg-btt-17 bottom-button" > PayPal</button>
                        <button class="mg-btt-17 bottom-button"> PayPal</button>
                        <button class="mg-btt-17 bottom-button"> PayPal</button>
                    </div>
                    
            </div>
    </div>
    <div class="flex-30 pd-lf-23-5"> 
            <div class="innr-container">
                    <img style="position: relative;top: -30px;" src="../../assets/images/bottom3.png">
                    <p class="mg-btt-15 fnt-17 clr-blue">TAX INFORMATION</p>
                    <div style="margin-left: auto;margin-right: auto;width: 77%;">
                    <p style="font-size: 15px">Saba Homes is a 501 ©3 registered non-profit in the USA under the legal name of International Education &Welfare Society DBA (Doing Business As) Saba Homes Tax ID/EIN Number 33-0716944. All donations made to Saba Homes are tax deductible in the US.</p>

                    </div>
                    
            </div>
    </div>
</div>