<div class="banner">
    <img src="../../assets/images/colorbanner1.webp">
    <div class="header-1"> 
        <div class="header-1-left"> 
             <p>Phone no: +00 1234 567 or email us: emailsample@email.com</p>
        </div>
        <div class="header-1-right">
                <p>Mon - Fri / 9:00-21:00, Sat - Sun / 10:00-20:00 </p>
                <div> 
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-snapchat"></i>
                </div>
               
        </div>
    </div>

    <div class="header-2">
        <div> 
            Taste <span>.it</span>
        </div> 
        <nav>
            <ul> 
                <li>HOME</li>
                <li>ABOUT</li>
                <li>CHEF</li>
                <li>MENU</li>
                <li>RESERVATION</li>
                <li>BLOG</li>
                <li>CONTACT</li>
            </ul>
        </nav>

    </div>
    

     <div class="banner-title">  
        Cooking Since
    </div> 

    <div class="layer-banner"> 

    </div>
</div>