.banner{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner img{
    position: absolute;
    height: 136vh;
    width: 100%;
    top: -15%;
    z-index: -1;
}

.header-1{
    color: white;
    display: flex;
    width: 70%;
    margin: 10px auto;
    justify-content: space-around;
    z-index: 2;
    position: relative;
}

.header-1 p{
    margin: 0
}

.header-1-left{
    flex: 0 0 40%;
}

.header-1-right{
    display: flex;
}

.header-1-right p {
    display: flex;
    flex: 0 0 87%;
}

.header-1-right div{
    display: flex;
    justify-content: space-around;
    flex: 0 0 20%;
    align-items: center;
}

.header-2{
    display: flex;
    width: 58%;
    margin: auto;
    justify-content: space-between;
    padding: 20px;
    background: black;
    opacity: 0.8;
    z-index: 2;
    position: relative;
}

.header-2 div{
    flex: 0 0 30%;
    color: red;
    font-size: 16px
}

.header-2 span{
    color: white;
    font-weight: 700
}

.header-2 nav{
    flex: 0 0 70%;
}

.header-2 ul{
    justify-content: space-between;
    display: flex;
    list-style: none;
}

.header-2 ul li{
    color: white;
    font-weight: 700
}

.layer-banner{
    position: absolute;
    background: black;
    opacity: 35%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.banner-title{
    color: white;
    position: absolute;
    top: 36%;
    left: 26%;
    z-index: 4;
    display: flex;
    flex-direction: column;
}

.main{
    font-size: 10vw;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}

.border{
    
    width: 30%;
    margin: auto;
    font-weight: 900;
    font-size: 19px;
    text-align: center;
    border: 1px solid white;
    padding: 6px 10px;
    letter-spacing: 2px;
    min-width: 277px;
}

.date{
    color: #e52b34;
    position: relative;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
}

.date::before{
    position: absolute;
    bottom: 0;
    left: 33%;
    content: '';
    border-top: 1px solid red;
    width: 100px;
}

.date:after{
    position: absolute;
    bottom: 0;
    left: 56%;
    content: '';
    border-top: 1px solid red;
    width: 100px;
}


.container{
    display: flex;
    width: 60%;
    margin: auto;
}

.section-2-left{
    background: #e52b34!important;
    flex: 0 0 32%;
    text-align: left;
}

.section-2-left form{
    display: flex;
    flex-direction: column;
   
}

.section-2-left-containter{
    width: 69%;
    margin: 4rem auto;
    
}

.section-2-left-containter button{
    color: black;
    background: white;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px
}

.section-2-left form input{
    padding: 5px;
    background: none;
    height: 54px;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    outline: none;
    border-radius: 2px;
    margin-bottom: 15px
}

.section-2-left form input::placeholder{
    color: white
}

.section-2-left h3{
    color: white;
    font-weight: 500
}

.section-2-mid{
    flex: 0 0 32%;
    margin: 40px;
}
.section-2-mid-containter{
    width: 80%;
    margin: auto
}



.heading1{
    font-family: 'Dancing Script', cursive;
    color: #EB586B;
    position: relative;
    top: 40px;
    font-size: 40px;
}


.heading2{
    font-size: 40px;
    font-weight: 900;
}

.part3{
    line-height: 2.4;
    color: gray

}
.section-2-mid-right{
    flex: 0 0 32%;
    position: relative;
}

.section-2-mid-right img{
    width: 242%;
    z-index: -1;
    position: absolute;
    top: 0%;
    right: 0px;
}

.container-3{
    width: 60%;
    margin: auto
}

.card{
    display: flex;
    flex-direction: column;
    flex: 0 0 31%;
    margin: 10px;
    border: 1px dotted #d4cfcf;
    background: #fcfcfc
}


.card-col{
    display: flex;
    padding: 30px 10px;
    margin: 10px;
    border-bottom: 1px dotted #d4cfcf;
}

.card-row{
    display: flex;
}

.card-col img{
    width:60%;
    border-radius: 50%;
}

.card-col div{
    flex: 0 0 30%;
}

.names{
    font-size: 16px;
    margin: 0
}

.card h3{
    text-align: center
}

.container-3-first-heading{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: red;
    position: relative;
    top: 47px;
    font-size: 40px;
    left: 0%;
}


.container-3-second-heading{
    text-align: center;
    font-size: 40px;
}

.container-4{
    width: 60%;
    margin: auto;
    
}

.container-4-inner{
    display: flex;
}
.container-4 img{
    width: 100%
}

.container-4-inner-parts{
    flex: 0 0 25%;
    padding: 10px 10px

}

.container-5{
    width: 60%;
    margin: auto;
    display:flex
    
}

.container-5-part-1{
    flex: 0 0 25%;
    padding: 0px 10px
}

.container-5-part-1 img{
    width: 100%
}
.container-5-part-2{
    flex: 0 0 50%;
   
}

.container-5-div{
    width: 70%;
    margin: auto
}

.container-5-div p {
    margin: 20px 0px;
}

.container-5-div button {
    background: #EB586B;
    color: white;
    border:none;
    padding: 10px 
}

.container-6{
    width: 60%;
    margin: auto
}

.container-7{
    width: 48%;
    margin: auto;
    padding: 40px;
    margin-top: 70px;
}

.container-7 h1{
   font-size:40px;
   color:white
}

.container-7 button{
    background: #e52b34;
    color: white;
    border:1px solid white;
    padding: 10px 15px;
    border-radius: 5px 
}

.container-7 div{
    text-align: center
}

.container-8{
    width: 60%;margin:auto;display: flex;padding: 20px;
}

.container-8-col{
    flex: 0 0 23%;color: white;padding-right: 15px
}

.container-8-col h2{
    margin-bottom: 30px;
            font-size: 20px;
}

.icon-div
{
    display: flex;
    text-align: left;
    justify-content: space-between;
    width: 50%;
}

.icon-div div{
              background: red;
               border-radius: 50%;
               text-align: center;
               padding: 7px;
               flex: 0 0 30%;
               margin: 0 10px;
}

.dates-schedule{
   display: flex;justify-content: space-between;width: 84%;
}

.container-8-col:last-child{
    padding-left: 15px
}

.subscribe button{
    height: 52px; background: red;color: white;padding: 0px 44px;border: none;margin-top: 10px;border-radius: 5px
}

.footer{
    background:#e52b34!important
}

.footer div{
   width: 30%;margin: auto;padding: 1px;color: white;
}

.footer div p{
    margin:20px;
}

.container-9{
    width: 32%;
    margin: auto;
}

.container-9 h2{
    font-size: 20px;margin: auto;text-align:center;
}

.container-9 img{
    width: 20%;border-radius: 50%;width: 13%;border-radius: 50%;margin: 20px;
}

.quote{
    position: absolute;left: 53%;top: 60%;background: white;border-radius: 50%;width: 30px;text-align: center;padding: 5px;
}

.parallax {
    /* The image used */
    background-image: url('../../assets/images/p1.webp');
  
    /* Full height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .parallax1 {
    /* The image used */
    background-image: url('../../assets/images/parap.webp');
  
    /* Full height */
    min-height: 680px; 
  
    /* Create the parallax scrolling effect */
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    /* opacity:35% */
  }