<div class="banner">
    <img src="../../assets/images/colorbanner1.webp">
    <div class="header-1"> 
        <div class="header-1-left"> 
             <p>Phone no: +00 1234 567 or email us: emailsample@email.com</p>
        </div>
        <div class="header-1-right">
                <p>Mon - Fri / 9:00-21:00, Sat - Sun / 10:00-20:00 </p>
                <div> 
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-snapchat"></i>
                </div>
               
        </div>
    </div>

    <div class="header-2">
        <div> 
            Taste <span>.it</span>
        </div> 
        <nav>
            <ul> 
                <li>HOME</li>
                <li>ABOUT</li>
                <li>CHEF</li>
                <li>MENU</li>
                <li>RESERVATION</li>
                <li>BLOG</li>
                <li>CONTACT</li>
            </ul>
        </nav>

    </div>
    

     <div class="banner-title">  
         <div class="border"> 
             TASTE.IT RESTAURANT
         </div>
        <div class="main"> 
            Cooking Since 
        </div>
        <div class="date"> 
            1958
        </div>
    </div> 

    <div class="layer-banner"> 

    </div>
</div>

<div class="container"> 

    <div class="section-2-left"> 

        <div class="section-2-left-containter"> 
                <h3> Book your Table</h3>
                <div>
                    <form> 
                            <input placeholder="Name">
                            <input placeholder="Email">
                            <input placeholder="CheckIn">
                            <input placeholder="Phone">
                            <input placeholder="Phone">
                            <input placeholder="Phone">
                    </form>
                    
                </div>
                <button> Book Your Table Now</button>
        </div>
    </div>

    <div class="section-2-mid">
        <div class="section-2-mid-containter"> 
                <h3 class="heading1"> About</h3>
                <h3 class="heading2"> Welcome to Taste.it</h3>
                <div class="part3"> 
                        On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </div>
        </div>
    </div>

    <div class="section-2-mid-right">
        <img src="../../assets/images/chef.webp"> 
    </div>
    
</div>

<div class="parallax">
    <div style="color:white;height: 20vh">
        <div style="width: 35%;margin:auto;text-align:center;"> 
         <h2>Now Booking</h2>
         <h2 style="font-weight: 900;font-size:40px"> Private Dinners & Happy Hours</h2>
        </div>
         
     </div>
</div>

<div class="container-3"> 
        <h3 class="container-3-first-heading"> Specialities</h3>
        <h3 class="container-3-second-heading"> Our Menu</h3>

        <div style="display: flex;flex-wrap: wrap"> 
                <div data-aos="fade-up" data-aos-duration="1000" class="card"> 
                        <h3>BREAKFAST</h3>
                        <div class="card-col">
                            <div> 
                                <img src="../../assets/images/menu.webp">
                            </div>
            
                            <div> 
                                <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                            </div>
            
                            <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                $29
                            </div>
            
                        </div>
            
                        <div class="card-col">
                                <div> 
                                    <img src="../../assets/images/menu.webp">
                                </div>
                
                                <div> 
                                    <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                    <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                </div>
                
                                <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                    $29
                                </div>
                
                            </div>
            
                            <div class="card-col">
                                    <div> 
                                        <img src="../../assets/images/menu.webp">
                                    </div>
                    
                                    <div> 
                                        <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                        <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                    </div>
                    
                                    <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                        $29
                                    </div>
                    
                                </div>
                    
                </div>
                <div data-aos="fade-up" data-aos-duration="1000"  class="card"> 
                        <h3>BREAKFAST</h3>
                        <div class="card-col">
                            <div> 
                                <img src="../../assets/images/menu.webp">
                            </div>
            
                            <div> 
                                <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                            </div>
            
                            <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                $29
                            </div>
            
                        </div>
            
                        <div class="card-col">
                                <div> 
                                    <img src="../../assets/images/menu.webp">
                                </div>
                
                                <div> 
                                    <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                    <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                </div>
                
                                <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                    $29
                                </div>
                
                            </div>
            
                            <div class="card-col">
                                    <div> 
                                        <img src="../../assets/images/menu.webp">
                                    </div>
                    
                                    <div> 
                                        <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                        <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                    </div>
                    
                                    <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                        $29
                                    </div>
                    
                                </div>
                    
                </div>
                <div data-aos="fade-up" data-aos-duration="1000"  class="card"> 
                        <h3>BREAKFAST</h3>
                        <div class="card-col">
                            <div> 
                                <img src="../../assets/images/menu.webp">
                            </div>
            
                            <div> 
                                <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                            </div>
            
                            <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                $29
                            </div>
            
                        </div>
            
                        <div class="card-col">
                                <div> 
                                    <img src="../../assets/images/menu.webp">
                                </div>
                
                                <div> 
                                    <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                    <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                </div>
                
                                <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                    $29
                                </div>
                
                            </div>
            
                            <div class="card-col">
                                    <div> 
                                        <img src="../../assets/images/menu.webp">
                                    </div>
                    
                                    <div> 
                                        <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                        <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                    </div>
                    
                                    <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                        $29
                                    </div>
                    
                                </div>
                    
                </div>
                <div data-aos="fade-up" data-aos-duration="1000"  class="card"> 
                        <h3>BREAKFAST</h3>
                        <div class="card-col">
                            <div> 
                                <img src="../../assets/images/menu.webp">
                            </div>
            
                            <div> 
                                <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                            </div>
            
                            <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                $29
                            </div>
            
                        </div>
            
                        <div class="card-col">
                                <div> 
                                    <img src="../../assets/images/menu.webp">
                                </div>
                
                                <div> 
                                    <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                    <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                </div>
                
                                <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                    $29
                                </div>
                
                            </div>
            
                            <div class="card-col">
                                    <div> 
                                        <img src="../../assets/images/menu.webp">
                                    </div>
                    
                                    <div> 
                                        <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                        <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                    </div>
                    
                                    <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                        $29
                                    </div>
                    
                                </div>
                    
                </div>
                <div data-aos="fade-up" data-aos-duration="1000"  class="card"> 
                        <h3>BREAKFAST</h3>
                        <div class="card-col">
                            <div> 
                                <img src="../../assets/images/menu.webp">
                            </div>
            
                            <div> 
                                <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                            </div>
            
                            <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                $29
                            </div>
            
                        </div>
            
                        <div class="card-col">
                                <div> 
                                    <img src="../../assets/images/menu.webp">
                                </div>
                
                                <div> 
                                    <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                    <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                </div>
                
                                <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                    $29
                                </div>
                
                            </div>
            
                            <div class="card-col">
                                    <div> 
                                        <img src="../../assets/images/menu.webp">
                                    </div>
                    
                                    <div> 
                                        <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                        <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                    </div>
                    
                                    <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                        $29
                                    </div>
                    
                                </div>
                    
                </div>
                <div data-aos="fade-up" data-aos-duration="1000"  class="card"> 
                        <h3>BREAKFAST</h3>
                        <div class="card-col">
                            <div> 
                                <img src="../../assets/images/menu.webp">
                            </div>
            
                            <div> 
                                <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                            </div>
            
                            <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                $29
                            </div>
            
                        </div>
            
                        <div class="card-col">
                                <div> 
                                    <img src="../../assets/images/menu.webp">
                                </div>
                
                                <div> 
                                    <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                    <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                </div>
                
                                <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                    $29
                                </div>
                
                            </div>
            
                            <div class="card-col">
                                    <div> 
                                        <img src="../../assets/images/menu.webp">
                                    </div>
                    
                                    <div> 
                                        <p style="font-weight: bold;line-height: 1.8;font-size: 17px">Beef Roast Souc</p>
                                        <p style="line-height: 1.8">Meat, Potatoes, Rice, Tomatoe</p>
                                    </div>
                    
                                    <div style="font-weight: bold;color:#e52b34;text-align:center;font-size: 16px"> 
                                        $29
                                    </div>
                    
                                </div>
                    
                </div>
        </div>
       
</div>

<div class="parallax1">
    <div data-aos="fade-up" data-aos-duration="1400"  class="container-9"> 
        <h3 class="container-3-first-heading"> Testimony</h3>
        <h3 class="container-3-second-heading"> Happy Customers</h3>
    
        <p style="margin-top:40px;font-size:20px;text-align: center" >Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <div style="text-align: center"> 
            <div style="position: relative"> 
                <img  src="../../assets/images/quote.webp">
                <div class="quote"> 
                    <i style="color:#e52b34;background: white" class="fa fa-quote-left" aria-hidden="true"></i>
        
                </div> 
            </div>
            
    
            <p>John Gustavo</p>
            <p>Customer</p>
        </div>
       
    
    </div>
    
</div>

<div  style="background: #fafafa!important;
padding: 4em 0;"> 
    <div class="container-4"> 
            <h3 class="container-3-first-heading"> Chef</h3>
            <h3 class="container-3-second-heading"> Our Master Chef</h3>
    
            <div class="container-4-inner"> 
                    <div data-aos="fade-up" data-aos-duration="1000"  class="container-4-inner-parts"> 
                            <img src="../../assets/images/menu1.webp">
                            <div style="width: 90%;margin: auto;padding: 16px;">
                                <p style="font-weight: bold">John Gustavo</p>
                                <p>CEO, Co Founder</p>
                                <p style="line-height:1.9">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            </div>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1000"  class="container-4-inner-parts"> 
                            <img src="../../assets/images/menu1.webp">
                            <div style="width: 90%;margin: auto;padding: 16px;">
                                <p style="font-weight: bold">John Gustavo</p>
                                <p>CEO, Co Founder</p>
                                <p style="line-height:1.9">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            </div>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1000"  class="container-4-inner-parts"> 
                            <img src="../../assets/images/menu1.webp">
                            <div style="width: 90%;margin: auto;padding: 16px;">
                                <p style="font-weight: bold">John Gustavo</p>
                                <p>CEO, Co Founder</p>
                                <p style="line-height:1.9">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            </div>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1000"  class="container-4-inner-parts"> 
                            <img src="../../assets/images/menu1.webp">
                            <div style="width: 90%;margin: auto;padding: 16px;">
                                <p style="font-weight: bold">John Gustavo</p>
                                <p>CEO, Co Founder</p>
                                <p style="line-height:1.9">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            </div>
                    </div>
            </div>
    </div>
       
</div>

<div class="container-5">
    <div class="container-5-part-1"> 
        <img src="../../assets/images/abc1.webp"> 
    </div>
    <div class="container-5-part-1"> 
            <img src="../../assets/images/abc1.webp"> 
        </div>
    <div class="container-5-part-2">  
            <h3 class="container-3-first-heading"> This is our Secret</h3>
            <h3 class="container-3-second-heading"> Perfect Ingredient</h3>
            <div class="container-5-div"> 
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <button>Learn MOre</button>
            </div>
           
    </div>
</div>


<div style="background:#fafafa!important;padding: 4em 0;" >
    <div class="container-6"> 
            <h3 class="container-3-first-heading"> Blog</h3>
            <h3 class="container-3-second-heading"> Recent Blog</h3>
            <div style="display: flex;margin-top:40px"> 
                <div style="    padding: 0 1em;"> 
                    <img style="width: 100%;padding:0px 10px" src="../../assets/images/aa.webp">
                    <div  style="background: white">
                        <div style="width: 80%;margin:auto;padding: 2em"> 
                                <p>AUGUST 3, 2020 ADMIN</p>
                                <p style="font-weight: bold;font-size:20px;font-weight: 600">Even the all-powerful Pointing has no control about the blind texts</p>
                                <button style=" background: #EB586B;
                                color: white;
                                border:none;
                                padding: 10px ">Read More</button>
                        </div> 
                        
                    </div>
                </div>
                <div style="    padding: 0 1em;"> 
                        <img style="width: 100%;padding:0px 10px" src="../../assets/images/aa.webp">
                        <div  style="background: white">
                                <div style="width: 80%;margin:auto;padding: 2em"> 
                                    <p>AUGUST 3, 2020 ADMIN</p>
                                    <p style="font-weight: bold;font-size:20px;font-weight: 600">Even the all-powerful Pointing has no control about the blind texts</p>
                                    <button style=" background: #EB586B;
                                    color: white;
                                    border:none;
                                    padding: 10px ">Read More</button>
                            </div> 
                            
                        </div>
                </div>
                <div style="    padding: 0 1em;"> 
                        <img style="width: 100%;padding:0px 10px" src="../../assets/images/aa.webp">
                        <div  style="background: white">
                                <div style="width: 80%;margin:auto;padding: 2em"> 
                                    <p>AUGUST 3, 2020 ADMIN</p>
                                    <p style="font-weight: bold;font-size:20px;font-weight: 600">Even the all-powerful Pointing has no control about the blind texts</p>
                                    <button style=" background: #EB586B;
                                    color: white;
                                    border:none;
                                    padding: 10px ">Read More</button>
                            </div> 
                            
                        </div>
                </div>
    </div>
       
       
</div>

<div style="background: #e52b34!important"> 
    <div class="container-7"> 
            <h1 >We Make Delicious and Nutrituous Food</h1>
            <div > 
                <button>Book a Table Now</button>
            </div>
    </div>
   
</div>

<div style="background: black!important"> 
    <div class="container-8" >
        <div class="container-8-col"> 
            <h2 >TASTE.IT</h2>
            <p style="margin-bottom: 30px;line-height: 2.4;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
            <div class="icon-div"> 
                <div> 
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div > 
                    <i class="fab fa-twitter"></i>
                </div>
               <div> 
                <i class="fab fa-instagram"></i>
               </div>
                
            </div>
        </div>
        <div class="container-8-col"> 
            <h2>OPEN HOURS</h2>
            <div class="dates-schedule" > 
                <p>Monday</p>
                <p>9:00 - 24:00</p>
            </div>
            <div class="dates-schedule"> 
                <p>Monday</p>
                <p>9:00 - 24:00</p>
            </div>
            <div class="dates-schedule" > 
                <p>Monday</p>
                <p>9:00 - 24:00</p>
            </div>
            <div class="dates-schedule"> 
                <p>Monday</p>
                <p>9:00 - 24:00</p>
            </div>
            <div class="dates-schedule"> 
                <p>Monday</p>
                <p>9:00 - 24:00</p>
            </div>
            <div class="dates-schedule"> 
                <p>Monday</p>
                <p>9:00 - 24:00</p>
            </div>

            <div class="dates-schedule"> 
                <p>Monday</p>
                <p>9:00 - 24:00</p>
            </div>
        </div>
        <div class="container-8-col">
            <h2>INSTAGRAM</h2>
            <img style="width: 100%" src="../../assets/images/hhhwebp.webp"> 
        </div>
        <div class="container-8-col" >
            <h2>INSTAGRAM</h2>
            <p style="margin-bottom: 10px">Far far away, behind the word mountains, far from the countries.</p>
            <div>
                <input style="height:52px;" placeholder="Enter Email Address">
            </div>
            <div class="subscribe"> 
                <button >Subscribe</button>
            </div>
        </div>
    </div>
   
</div>

<div class="footer" >
    <div > 
    <p >Copyright ©2021 All rights reserved | This template is made with  by Colorlib</p>
    </div>
</div>






