
<div class="containerDiv">
    <button style="margin:10px" class="add-subsection" (click)="addSection()">AddSection </button>

</div>


<button (click)="final(formGroup)" class="sign-in-button" mat-raised-button>Submit</button>
<ul class="containerDiv2">
    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: list }"></ng-container>
</ul>

<ng-template #recursiveListTmpl let-list="list">
    <li *ngFor="let item of list;let i =index">
        <h4 >Section {{item.section}}</h4>
     

       
        <label>Title</label>
        <br>

        <div style="display: flex;justify-content: space-between;">
            <div>
                {{item.title}}
            </div>
            <div >
                <button (click)="enableInputTitle()">edit</button>
                <button (click)="saveInputTitle()">save</button>

            </div>
        </div>
        
        <div  *ngIf="enableInputTitleField">

            <input type=" text"  [(ngModel)]="title[i]" >
        </div>
        <br>
        <label>Description</label>
        <br>

        <textarea *ngIf="enableInputDescriptionField" type="text" ></textarea>
        <div style="display: flex;justify-content: space-between;">
            <div>
                {{item.title}}
            </div>
            <div>
                <button (click)="enableInputDescription()">edit</button>
                <button (click)="saveInputDescription()">save</button>

            </div>
        </div>
        <!-- </form> -->
        <button class="add-subsection" (click)="addsubSection(i,item,item.children)">Add SubSection </button>
       

        <ul *ngIf="item.children.length > 0">
      
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.children }">
            </ng-container>

        </ul>
    </li>
</ng-template> 