<div class="main">
    <div class="left-part">
        <img class="left-image" src="../../assets/images/background.png">
        <div class="header">
            <img src="../../assets/images/logoWebAAA.png">
        </div>

        <div class="left-form">
                    <div class="form1">
                        <h3 class="clr-yellow fnt-32">
                            BUILDING STRONGER CONNECTIONS BETWEEN YOU & CONTENT CREATORS
                        </h3>
                    </div>
                    <div class="form2">
                            <p class="clr-white fnt-20 margin-0" >
                                We showcase creaters who provide real value to you, their audience.With Monthly based subscription, you will be able to pay to access your favourite creators exclusive content.
                            </p>
                    </div>
                    <div class="form-3">
                        <p class="margin-0 clr-yellow fnt-21" > 
                            SOUND GOOD?
                        </p>
                    </div>
                    <div class="margin-bottom-17 form-4">
                        <p class="margin-0 clr-white fnt-21"> 
                            SIGN UP FOR UPDATES
                        </p>
                    </div>

                    <div class="width-100"> 
                      
                                <div class="margin-bottom-15"> 
                                        <input class="fnt-14 form-input width-100" placeholder="Your Email Address" > 
                                </div>
                                <div class="margin-bottom-20"> 
                                        <input class="fnt-14 form-input width-100" placeholder="Your Social Media Account" > 
                                </div>
                                <div>
                                        <button  class="submit fnt-15 width-100 "> Submit</button>
                                </div>  
                       
                    </div>

                    <div> 
                        <img class="mobile-frame" src="../../assets/images/deviceWebAAA.png"> 
                    </div>
        </div>
        

    </div>
    <div class="right-part" >
        <button class="bold fnt-15 contact-button"> CONTACT US</button>
    </div>
</div>