<div style="height: 25vh;background: #9a845e;">
        <div style="display: flex; width: 85%;padding: 10px;margin: auto;flex-direction: column">
            <div style="width: 80%; margin: auto;"> 
                <h1 style="color: goldenrod;margin: 0;">Education <span style="color: white"> Website</span></h1>
            </div>
            <div style="display: flex;justify-content: flex-end;">
                <p class="nav">  Home</p>
                <p class="nav">  About us</p>
                <p class="nav">  Students</p>
                <p class="nav">  Faculty</p>
                <p class="nav">  Contact</p>
            </div>
        </div>
     </div>
    
     <div class="part-1">
         <!-- <img src="../../assets/images/personal.jpeg"> -->
         <div style="position: absolute;top: 0;left: 0;bottom: 0;background: #291a01d6;right: 65%;opacity: 0.6;border-bottom-left-radius: 75px;border-top-left-radius: 10px;">
                <button style="position: absolute;
                top: 75%;
                left: 65%;
                background: #000000;
                opacity: 1;
                color: white;
                outline: none;
                border: none;
                padding: 7px 20px;
                border-radius: 9px;
            "> Learn More</button>
         </div>
     </div>
    
     <div style="width:80%;margin: auto;display: flex">
            <div style="flex: 1 1 30%;margin-right: 3%;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;background: white;position: relative;">
                    <h3 style="background: red;padding: 10px;color: white;position: absolute;top: 0;left: -20px;margin: 0;"> Lorem ipsum foren</h3>
                    <div style="display: flex;flex-direction: column;justify-content: center; align-items: center;margin-bottom: 12px;position: absolute;top: 60px;">
                         <div style="width: 80%;margin: auto; display: flex; flex-direction: column;justify-content: center; align-items: center;margin-bottom: 12px">
                            <img style="height: inherit;width:inherit" src="../../assets/images/personal.jpeg">
                             <p style="text-align: center">Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum foren</p>
                             <div style="width: inherit; text-align: right;"> 
                                   <button> See more</button>
                            </div>
                          </div>
                         <div style="width: 80%;margin: auto; display: flex; flex-direction: column;justify-content: center; align-items: center;margin-bottom: 12px">
                           <img style="height: inherit;width:inherit" src="../../assets/images/personal.jpeg">
                            <p style="text-align: center">Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum foren</p>
                             <div style="width: inherit;text-align: right;"> 
                                <button> See more</button>
                            </div>
                        </div>
                        
                    </div>
        
            </div>
       
        <div style="flex: 1 1 30%;margin-right: 3%;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;background: white;position: relative;">
                <h3 style="background: brown;padding: 10px;color: white;position: absolute;top: 0;left: -20px;margin: 0;"> Lorem ipsum foren</h3>
                <div style="display: flex;
                flex-direction: column;
                top: 55px;
                position: relative;">
                    <div style="display: flex;justify-content: center;align-items: center;">
                        
                        <div style="flex: 1 1 30%;"> 
                                <img style="width:100%" src="../../assets/images/unnamed.png">
                        </div>  
                        <p style="flex: 1 1 70%;"> Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLor</p>
                    </div>
                    
                    <div style="display: flex;justify-content: center;align-items: center;margin: 20px">
                        
                            <div style="flex: 1 1 30%;"> 
                                    <img style="width:100%" src="../../assets/images/unnamed.png">
                            </div>  
                            <p style="flex: 1 1 70%;"> Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLor</p>
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;margin: 20px">
                        
                            <div style="flex: 1 1 30%;"> 
                                    <img style="width:100%" src="../../assets/images/unnamed.png">
                            </div>  
                            <p style="flex: 1 1 70%;"> Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLor</p>
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;margin: 20px">
                        
                            <div style="flex: 1 1 30%;"> 
                                    <img style="width:100%" src="../../assets/images/unnamed.png">
                            </div>  
                            <p style="flex: 1 1 70%;"> Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLor</p>
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;margin: 20px">
                        
                            <div style="flex: 1 1 30%;"> 
                                    <img style="width:100%" src="../../assets/images/unnamed.png">
                            </div>  
                            <p style="flex: 1 1 70%;"> Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLor</p>
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;margin: 20px">
                        
                            <div style="flex: 1 1 30%;"> 
                                    <img style="width:100%" src="../../assets/images/unnamed.png">
                            </div>  
                            <p style="flex: 1 1 70%;"> Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum forenLorem ipsum forenLor</p>
                    </div>
                </div>
        </div>
    
        <div style="flex: 1 1 30%;margin-right: 3%;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;background: white;position: relative;">
                <h3 style="background: blue;padding: 10px;color: white;position: absolute;top: 0;left: -20px;margin: 0;"> Lorem ipsum foren</h3>
                <div style="display: flex;flex-direction: column;justify-content: center; align-items: center;margin-bottom: 12px;position: absolute;top: 60px;">
                     <div style="width: 80%;margin: auto; display: flex; flex-direction: column;justify-content: center; align-items: center;margin-bottom: 12px">
                        <img style="height: inherit;width:inherit" src="../../assets/images/personal.jpeg">
                         <p style="text-align: center">Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum foren</p>
                         <div style="width: inherit; text-align: right;"> 
                               <button> See more</button>
                        </div>
                      </div>
                     <div style="width: 80%;margin: auto; display: flex; flex-direction: column;justify-content: center; align-items: center;margin-bottom: 12px">
                       <img style="height: inherit;width:inherit" src="../../assets/images/personal.jpeg">
                        <p style="text-align: center">Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum foren</p>
                         <div style="width: inherit;text-align: right;"> 
                            <button> See more</button>
                        </div>
                    </div>
                    
                </div>
    
        </div>
    
     </div>