<div style="background:#f4f3e6">
<div class="header-background">

        <div class="header" >

            <div class="wd-80-mg-auto"> 
                <h1 style="color: goldenrod;margin: 0;">Education <span style="color: white"> Website</span></h1>
            </div>

            <div class="navbar">
              <p class="nav">  Home</p>
              <p class="nav">  About us</p>
              <p class="nav">  Students</p>
              <p class="nav">  Faculty</p>
              <p class="nav">  Contact</p>
            </div>
        </div>
 </div>
    
<div class="part-1">
         <div style="position: absolute;top: 0;left: 0;bottom: 0;background: #291a01d6;right: 65%;opacity: 0.6;border-bottom-left-radius: 75px;border-top-left-radius: 10px;">
                <button style="position: absolute;
                top: 75%;
                left: 65%;
                background: #000000;
                opacity: 1;
                color: white;
                outline: none;
                border: none;
                padding: 7px 20px;
                border-radius: 9px;
            "> Learn More</button>
         </div>
 </div>
    

 <div class="wd-80-mg-auto main-card " >
         <div class="card mg-3-percent ">
                    <h3  class="header-card bg-red" > Lorem ipsum foren</h3>
                    <div class="card-detail" s>
                                <div class="card-detail-properties wd-80-mg-auto ">
                                   <img class="hei-wid-inherit" src="../../assets/images/personal.jpeg">
                                    <p style="text-align: center">Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum foren</p>
                                    <div style="width: inherit; text-align: right;"> 
                                          <button class="see-more"> See more</button>
                                   </div>
                                 </div>
                                <div class="card-detail-properties wd-80-mg-auto ">
                                  <img class="hei-wid-inherit" src="../../assets/images/personal.jpeg">
                                   <p style="text-align: center">Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum foren</p>
                                    <div style="width: inherit;text-align: right;"> 
                                       <button class="see-more"> See more</button>
                                   </div>
                               </div>
                               
                           </div>
        
        </div>
       
        <div class="card mg-3-percent">
                <h3 class="header-card bg-brown"> Lorem ipsum foren</h3>
                <div class="card-detail-2" >
                    <div class="card-detail-2-property" >
                        
                        <div class="flex-30" > 
                                <img style="width:100%" src="../../assets/images/unnamed.png">
                        </div>  
                        <p class="flex-70" > Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum </p>
                    </div>

                    <div class="card-detail-2-property" >
                        
                                <div class="flex-30" > 
                                        <img style="width:100%" src="../../assets/images/unnamed.png">
                                </div>  
                                <p class="flex-70" > Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum </p>
                   </div> 
                    
                   <div class="card-detail-2-property" >
                        
                                <div class="flex-30" > 
                                        <img style="width:100%" src="../../assets/images/unnamed.png">
                                </div>  
                                <p class="flex-70" > Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum </p>
                   </div>
                    
                   <div class="card-detail-2-property" >
                        
                                <div class="flex-30" > 
                                        <img style="width:100%" src="../../assets/images/unnamed.png">
                                </div>  
                                <p class="flex-70" > Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum </p>
                   </div>
                   
                   <div class="card-detail-2-property" >
                        
                                <div class="flex-30" > 
                                        <img style="width:100%" src="../../assets/images/unnamed.png">
                                </div>  
                                <p class="flex-70" > Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum </p>
                  </div>

                  <div class="card-detail-2-property" >
                        
                                <div class="flex-30" > 
                                        <img style="width:100%" src="../../assets/images/unnamed.png">
                                </div>  
                                <p class="flex-70" > Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorLorem ipsum forenLorem ipsum </p>
                 </div>
                    
                    
                </div>
        </div>
    
        <div class="card">
                <h3 class="header-card bg-blue"> Lorem ipsum foren</h3>
                <div class="card-detail" s>
                     <div class="card-detail-properties wd-80-mg-auto ">
                        <img class="hei-wid-inherit" src="../../assets/images/personal.jpeg">
                         <p style="text-align: center">Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum foren</p>
                         <div style="width: inherit; text-align: right;"> 
                               <button class="see-more"> See more</button>
                        </div>
                      </div>
                     <div class="card-detail-properties wd-80-mg-auto ">
                       <img class="hei-wid-inherit" src="../../assets/images/personal.jpeg">
                        <p style="text-align: center">Lorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum forenLorem ipsum foren</p>
                         <div style="width: inherit;text-align: right;"> 
                            <button class="see-more"> See more</button>
                        </div>
                    </div>
                    
                </div>
    
        </div>
    
     </div>

<div style="position: relative">


<div style="background: #98a998;height: 125px;">
</div>
<div class="footer"> 
                <div style="display: flex;
                color: white;">

                                <div class="flex-25 mg-10">
                                        <h3> Lorem Ipsum Dolor</h3>
                                        <p>Lorem ipsum foren Lorem ipsum foren Lorem ipsum foren Lorem ipsum </p>
                                </div>

                                <div class="flex-25 mg-10">
                                                <h3> Lorem Ipsum Dolor</h3>
                                                <p>Lorem ipsum foren Lorem ipsum foren Lorem ipsum foren Lorem ipsum </p>
                                </div>

                                <div class="flex-25 mg-10">
                                                <h3> Lorem Ipsum Dolor</h3>
                                                <p>Lorem ipsum foren Lorem ipsum foren Lorem ipsum foren Lorem ipsum </p>
                                </div>

                                <div class="flex-25 mg-10">
                                                <h3> Lorem Ipsum Dolor</h3>
                                                <p>Lorem ipsum foren Lorem ipsum foren Lorem ipsum foren Lorem ipsum foren </p>
                                 </div>
                
                </div>

                <div style="text-align: right;margin-right: 20px;padding: 5px 20px;">
                        <button class="see-more"> Subscribe</button>
                </div>
</div>
        
</div>
</div>


<datalist id="animals">
        <option value="Cat">
        <option value="Dog">
        <option value="Chicken">
        <option value="Cow">
        <option value="Pig">
      </datalist>
    
      <ul class="un-ordered">
              <li style="user-select: none">1</li>
              <li>2</li>
              <p>AHSd</p>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>

      </ul>
      